.login-page {
  min-height: 100vh;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 120px; /* empurra abaixo do header */
  border: 1px solid #000;
  padding: 24px;
}


.login-container {
  width: 300px;
  border: 1px solid #000;
  padding: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #000;
}

.login-container button {
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  background: #000;
  color: #fff;
}

.login-container button:hover {
  background: #fff;
  color: #000;
}
